h1{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 300%;
}


h2 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 300%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 80px;
  margin-left: 80px;
  font-size: 125%

}

section{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 80px;
  margin-left: 80px;

}
p {
  padding-right: 30px;
  padding-bottom: 50px;
  
	font-family: "Oswald";
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 90px;
  margin-left: 80px;
  font-size: 125%
}


.fa {
  padding: 10px;
  font-size: 100%;
  width: 10px;
  text-align: center;
  text-decoration: none;
}

img{
  height: 10%;
  width: 10%;
}